.header {
    background-color: aqua;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    text-decoration: none;

}

.page-title {
    font-family: 'Niconne', cursive;
    color: rgb(168, 55, 168);
    height: 75%;
    justify-content: space-around;
    align-items: center;
    font-size: 80px;
}
.logo-container {
    display: flex;
    justify-content: left;
    text-decoration: none;
}

.options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.option {
      padding: 10px 15px;
      cursor: pointer;
      text-decoration: none;
  }

