.homepage {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url('../../assets/heartBoxes.png');
    opacity: .7;
  
    /* Full height */
    height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2 {
    font-size:36px
  }

  .inner-section {
      height: auto;
      background-color: whitesmoke;
  }

  .text-columns {
    column-count: 3;
}