.homepage {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url('../../assets/photos/heartBoxes.png');
    opacity: .7;
  
    /* Full height */
    height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2 {
    /*height:1000px;*/
    background-color:red;
    font-size:36px
  }